@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.function-button {
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    background-color: #fb1873;
    border: none;
}

.headline-container > h1 {
    margin-top: 30px;
    font-family: 'Monserrat', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

.form-style ul li .field-style {
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #fb1873;
}
