@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.form-style {
	max-width: 450px;
	padding: 30px;
	margin: 50px auto;
	border-radius: 3px;
	border: 1px solid black;
}

.form-style ul li .field-full {
	width: 100%;
}

.form-style ul li  .field-style {
	box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #18A0FB;
}

.form-style ul li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form-style ul {
	padding:0;
	margin:0;
	list-style:none;
}
