@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    /* color: #18A0FB; */
    height: 75px;
    box-shadow: 0 1px 10px -2px grey;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.left-nav {
    display: flex;
    padding: 5px;
    height: fit-content;
    height: 100%;
}

.right-nav {
    padding: 5px;
    margin-top: 10px;
    margin-right: 15px;
    height: 100%;
}

.app-name{
    color:crimson;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: none;
}
ul {
    padding:0;
    /* border-bottom: grey 2px solid; */
    text-decoration: none;
    text-transform:uppercase;
}

.left-nav li {
    display:inline-block;
    padding: 10px;
    text-decoration: none;
}

.right-nav li {
    display:inline-block;
    text-decoration: none;
}

a {
    /* display:block;
    padding:10px;
    color:white; */
    text-decoration:none;
}

.function-button {
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    background-color: #fb1873;
    border: none;
}

.right-nav ul li {
    display: inline-flex;
    padding: 5px;
    margin-top: -30px;
}
